[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dalle2 = "*"
requests = "*"
google-cloud-speech = "*"
pillow = "*"
pyaudio = "*"
playsound = "*"

[dev-packages]

[requires]
python_version = "3.9"
